{
    "presets": [
        ["env", {
            "target": {
                " browsers": ["last 2 versions"]
            }
        }],
        "es2015",
        "react"
    ],
    "plugins": ["transform-runtime"]
}